/* body { */
/*     background-color: #131516; */
/*     color: #d8d4cf; */
/* } */

/* ::selection { */
/*     background-color: #004daa; */
/*     color: #e8e6e3; */
/* } */

.bg-dark-purple {
    background-color: #21081a;
}

.bg-dark-gray {
    background-color: #131516;
    color: #d8d4cf;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* Add a line break on <=large screens */
@media (max-width: 960px) {
    .line-break {
        margin-bottom: 70px;
    }
}
